.App {
  text-align: center;
}

.Game img{
  width:40vw;
  height: auto;
}

.easy{
  filter: blur(3px);
}

.medium{
  filter: blur(3px)  grayscale();
}

.difficult{
  filter: blur(6px)  grayscale();
}